In [33]:
import pandas as pd
import zipfile
import sqlite3
import os

bom = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
tmbd = pd.read_csv('zippedData/tmdb.movies.csv.gz')
tn_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
rt_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz',sep='\t')
rt_review = pd.read_csv('zippedData/rt.reviews.tsv.gz',sep='\t',encoding='latin-1')

In [58]:
extraction_path = 'zippedData/' 
zip_file_path = 'zippedData/im.db.zip'
with zipfile.ZipFile('zippedData/im.db.zip', 'r') as zip_ref:
    zip_ref.extractall(extraction_path)

# The .db file should now be in the extraction_path directory
# Assuming the .db file has the same name as the .zip file
db_file_name = os.path.basename(zip_file_path).replace('.zip', '')
db_file_path = os.path.join(extraction_path, db_file_name)

# Connect to the SQLite database
conn = sqlite3.connect(db_file_path)

# Perform database operations
cursor = conn.cursor()

# For example, to print the list of tables
# cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(cursor.fetchall())

query_movie_basics = ("SELECT * FROM movie_basics")
query_directors = ("SELECT * FROM directors")
query_known_for = ("SELECT * FROM known_for")
query_movie_akas = ("SELECT * FROM movie_akas")
query_movie_ratings = ("SELECT * FROM movie_ratings")
query_persons = ("SELECT * FROM persons")
query_principals = ("SELECT * FROM principals")
query_writers = ("SELECT * FROM writers")



movie_basics_df = pd.read_sql_query(query_movie_basics,conn)
directors_df = pd.read_sql_query(query_directors,conn)
known_for_df = pd.read_sql_query(query_known_for,conn)
movie_akas_df = pd.read_sql_query(query_movie_akas,conn)
movie_ratings_df = pd.read_sql_query(query_movie_ratings,conn)
persons_df = pd.read_sql_query(query_persons,conn)
principals_df = pd.read_sql_query(query_principals,conn)
writers_df = pd.read_sql_query(query_writers,conn)


conn.close()

In [59]:
movie_basics_df.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"