In [30]:
cleaned_df = merged_df.drop(['start_year','original_title','id','movie'],axis=1)

grouped_df = cleaned_df.groupby('director_name').agg(
    {'movie_id': ['count'],
    'primary_title': lambda x: list(x),
     'production_budget': ['sum', 'mean'], 
     'worldwide_gross': ['sum', 'mean'],
     'Profit:Production Ratio': ['sum', 'mean'],
     'Profit': ['sum', 'mean']}
)

grouped_df.columns = [
    f"{col[0]}_{col[1]}" for col in grouped_df.columns
]

grouped_df[grouped_df['movie_id_count']>0].sort_values(by=['Profit:Production Ratio_mean'],ascending=False)

,movie_id_count,primary_title_<lambda>,production_budget_sum,production_budget_mean,worldwide_gross_sum,worldwide_gross_mean,Profit:Production Ratio_sum,Profit:Production Ratio_mean,Profit_sum,Profit_mean
director_name,,,,,,,,,,
Tod Williams,1,[Paranormal Activity 2],3000000,3000000.0,177512032,177512032.0,58.170677,58.170677,174512032,174512032.0
William Brent Bell,2,"[The Devil Inside, The Boy]",11000000,5500000.0,169980442,84990221.0,106.581585,53.290793,158980442,79490221.0
Bradley Parker,1,[Chernobyl Diaries],1000000,1000000.0,42411721,42411721.0,41.411721,41.411721,41411721,41411721.0
Jordan Peele,2,"[Get Out, Us]",25000000,12500000.0,509578261,254789130.5,61.784106,30.892053,484578261,242289130.5
Nitesh Tiwari,1,[Dangal],9500000,9500000.0,294654618,294654618.0,30.016276,30.016276,285154618,285154618.0
...,...,...,...,...,...,...,...,...,...,...
Tara Subkoff,1,[#Horror],1500000,1500000.0,0,0.0,-1.000000,-1.000000,-1500000,-1500000.0
Mahmoud Behraznia,1,[The Prince],18000000,18000000.0,0,0.0,-1.000000,-1.000000,-18000000,-18000000.0
Anthony O'Brien,1,[The Timber],2100000,2100000.0,0,0.0,-1.000000,-1.000000,-2100000,-2100000.0
Susanne Bier,1,[Bird Box],19800000,19800000.0,0,0.0,-1.000000,-1.000000,-19800000,-19800000.0
Roger Hawkins,1,[The Lion of Judah],1500000,1500000.0,0,0.0,-1.000000,-1.000000,-1500000,-1500000.0